
/* CSS FILE */
[class*="zocial-"]:before {
	color: lightseagreen;
	display: inline-block;
	font-family: "zocial", sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	width: 2em;
}

body {
	font-family: "Roboto Slab", serif;
	color: #747704;
	background-color: #d1d1ab;
}

/*********************************
*
*  Top Section
*
**********************************/
.logo {
	padding: 10px 0;
	width: 50%;
	height: 25%;
}

.name {
	font-family: "Roboto Slab", serif;
	font-weight: 100;
	font-size: 200%;
	color: #747704;
	padding-top: 9px;
	margin: 0;
	text-align: right;
}

.position-title {
	font-weight: 300;
	font-family: "Roboto Slab", serif;
	color: #747704;
	text-align: right;
	margin: 0;
	padding-top: 0;
}

hr {
	margin-top: 0;
}

/*********************************
*
*  Navigation
*
**********************************/
.nav {
	float: right;
}

.ul-nav {
	list-style-type: none;
	margin: 0;
	padding: 35px 17px 0;
}

.li-nav {
	display: inline;
}

.a-nav {
	font-family: "Roboto Slab", serif;
	font-weight: 400;
	color: #747704;
}

/*********************************
*
*  Main Image Section
*
**********************************/
.main-pic {
	text-align: center;
	width: 100%;
	height: 33%;
	padding-bottom: 20px;
}

/*********************************
*
*  Featured Work Section
*
**********************************/
.subtitle {
	text-align: left;
	font-size: 200%;
	font-weight: 100;
	color: #747704;
}

.fw-pic {
	width: 100%;
	height: 50%;
	text-align: center;
}

.code-image {
	width: 100%;
	height: 50%;
	text-align: center;
}

.p-center {
	font-size: 125%;
	text-align: center;
}

.p-fw {
	text-align: right;
	font-size: 50%;
	margin-bottom: 20px;
	text-align: center;
}

.a-fw {
	font-weight: lighter;
	text-decoration: none;
	color: #747704;
}

/*********************************
*
*  Footer Section
*
**********************************/
.social {
	text-align: center;
	line-height: 2em;
}